.venv
.DS_Store
__pycache__

# Secrets
secrets.py

# ChromaDB
embeddings/*
chroma_data
chromadb_test
chroma.log
.idea
!documents.pickle
!transcripts.pickle
!embeddings.pickle

# Models
models/all-MiniLM-L6-v2
models/*.gguf
