# Proprietary MADS Data
colbert_index/colbert/indexes/transcripts
documents/transcripts
embeddings/*
# Keep these two
!documents.pickle
!embeddings.pickle

# Local env stuff
.venv
.DS_Store
__pycache__
node_modules

# Secrets
secrets.py

# ChromaDB
chroma_data
chromadb_test
chroma.log
.idea

# Models
models/all-MiniLM-L6-v2
models/*.gguf
colbertv2.0

*.log
