[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.12.3"
lxml = "==5.1.0"
pymupdf = "==1.23.21"
langchain = "==0.1.6"
chromadb = "==0.4.22"
markdownify = "*"
sentence-transformers = "*"
llama-cpp-python = "*"
ipywidgets = "*"
rank-bm25 = "*"
seaborn = "*"
matplotlib = "*"
gensim = "*"
textacy = "*"
bert-score = "*"
langchain-experimental = "*"
ragas = "*"
pyngrok = "*"
streamlit = "*"

[dev-packages]
ipykernel = "==6.29.2"

[requires]
python_version = "3.11"
